<h1>Listing employees</h1>

<table>
  <tr>
	<th>First Name</th>
	<th>Nationalidnumber</th>
    <th>Loginid</th>
    <th>Organizationnode</th>
    <th>Organizationlevel</th>
    <th>Jobtitle</th>
    <th>Birthdate</th>
    <th>Maritalstatus</th>
    <th>Gender</th>
    <th>Hiredate</th>
    <th>Salariedflag</th>
    <th>Vacationhours</th>
    <th>Sickleavehours</th>
    <th>Currentflag</th>
    <th>Rowguid</th>
    <th>Modifieddate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @employees.each do |employee| %>
  <tr>
	<td><%= employee.person.FirstName %></td>
    <td><%= employee.NationalIDNumber %></td>
    <td><%= employee.LoginID %></td>	
    <td><%= employee.OrganizationNode.inspect %></td>
    <td><%= employee.OrganizationLevel %></td>
    <td><%= employee.JobTitle %></td>
    <td><%= employee.BirthDate %></td>
    <td><%= employee.MaritalStatus %></td>
    <td><%= employee.Gender %></td>
    <td><%= employee.HireDate %></td>
    <td><%= employee.SalariedFlag %></td>
    <td><%= employee.VacationHours %></td>
    <td><%= employee.SickLeaveHours %></td>
    <td><%= employee.CurrentFlag %></td>
    <td><%= employee.rowguid %></td>
    <td><%= employee.ModifiedDate %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>

<br />
<br />

<%= will_paginate @employees %>
