<h1>Listing employees</h1>

<table>
  <tr>
	<th>First Name</th>
	<th>Middle Name</th>
	<th>Last Name</th>
	<th>Job Title</th>
	<th>Birthdate</th>
	<th>Email</th>
	<th>Gender</th>
	<th>Vacations Hours</th>


  </tr>

<% @employees.each do |e| %>
  <tr>
	<td><%= e.Firstname %></td>
	<td><%= e.Middlename %></td>
	<td><%= e.Lastname %></td>
	<td><%= e.Jobtitle %></td>
	<td><%= e.Birthdate %></td>
	<td><%= e.EmailAddress %></td>
	<td><%= e.Gender %></td>
	<td><%= e.Vacationhours %></td>    
      
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
